<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login-form</title>
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet" />
  <link href="../assets1/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <%-include("partials/alerts.ejs") %>

  <section class="bg-admin-login position-relative" style="height:100vh" >
    <div class="position-absolute waves">
      <img src="../assets1/images/top-left.png" alt="bg-texture">
    </div>
    <div class="position-absolute plus-right">
      <img src="../assets1/images/top-right.png" alt="bg-texture" >
    </div>
    <div class="position-absolute plus-left">
      <img src="../assets1/images/bottom-left.png" alt="bg-texture">
    </div>
    </div>
    <div class="container" style="padding: 180px 0px;z-index: 0;">
      <div class="row justify-content-center">
          <div class="tab-content">
            <div class="tab-pane fade show active login-tab" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
              <form action="/adminlogin" method="post">
                <div class="login-title">
                  <h3 class="text-center mb-4"><b class="user">USER LOGIN</b></h3>
                </div>
                <div class="form-group">
                    <i class="fa fa-user icon login-icon"></i>
                    <input type="text" class="form-control" name="email" id="inputEmail" required placeholder="Email Address">
                </div>
                <div class="form-group  position-relative">
                    <i class="fa fa-lock icon login-icon" aria-hidden="true"></i>
                    <input type="password" class="form-control" name="password" id="inputPassword" required placeholder="Password">
                    <i class="fa fa-eye-slash toggle-password eye" aria-hidden="true"></i>
                </div>
                
                <button type="submit" class="btn link1 w-50 btn-block mb-3">Sign in</button>
              </form>
            </div>
          </div>
       
      </div>
    </div>
  </section>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script>
    $(function () {

      $(".toggle-password").click(function () {

        $(this).toggleClass("fa-eye fa-eye-slash");

        var inputField = $('#inputPassword');

        // get the attribute value
        var type = $(inputField).attr("type");
        // now test it's value
        if (type === 'password') {
          $(inputField).attr("type", "text");
        } else {
          $(inputField).attr("type", "password");
        }
      });

    });
  </script>
</body>

</html>  