<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from medical-dash.netlify.app/html/ui-labels-badges.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 05 Apr 2022 09:29:23 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Multipurpose Dashboard</title>
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets1/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- For iPhone -->
    <link rel="apple-touch-icon-precomposed" href="../assets1/images/apple-touch-icon-57-precomposed.png">
    <!-- For iPhone 4 Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets1/images/apple-touch-icon-114-precomposed.png">
    <!-- For iPad -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets1/images/apple-touch-icon-72-precomposed.png">
    <!-- For iPad Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets1/images/apple-touch-icon-144-precomposed.png">

    <!-- CORE CSS FRAMEWORK - START -->
    <link href="../assets1/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../assets1/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets1/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets1/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="../assets1/css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets1/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS FRAMEWORK - END -->

    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->

    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <!-- CORE CSS TEMPLATE - START -->
    <link href="../assets1/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../assets1/css/responsive.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS TEMPLATE - END -->

</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class=" ">
    <!-- START TOPBAR -->
    <div class="nav-menu"></div>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">

        <!-- SIDEBAR - START -->
        <div class="side-nav"></div>
        <!--  SIDEBAR - END -->
        <!-- START CONTENT -->
        <section id="main-content" class=" ">
            <div class="wrapper main-wrapper row">

               
                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->
                <div class="col-xs-12">
                    <div class="">
                        <h3 class="p-head">Patients</h3>
                    </div>
                    <section class=" row box doctor-profile">
                       
                        <div class="card">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col" class="p-head">Name</th>
                                    <th scope="col" class="p-head">Age</th>
                                    <th scope="col" class="p-head">Address</th>
                                    <th scope="col" class="p-head">Phone</th>
                                    <th scope="col" class="p-head">Email</th>
                                    <th scope="col" class="p-head">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">Jhone Deo</th>
                                    <td>32</td>
                                    <td>Banjara Hills</td>
                                    <td>+91 123 456 7890</td>
                                    <td>jhone@gmail.com</td>
                                    <td><a href="#" class="edit-btn">Edit</a>|<a href="#" class="delete-btn">Delete</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">Jhone Deo</th>
                                    <td>32</td>
                                    <td>Banjara Hills</td>
                                    <td>+91 123 456 7890</td>
                                    <td>jhone@gmail.com</td>
                                    <td><a href="#" class="edit-btn">Edit</a>|<a href="#" class="delete-btn">Delete</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">Jhone Deo</th>
                                    <td>32</td>
                                    <td>Banjara Hills</td>
                                    <td>+91 123 456 7890</td>
                                    <td>jhone@gmail.com</td>
                                    <td><a href="#" class="edit-btn">Edit</a>|<a href="#" class="delete-btn">Delete</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">Jhone Deo</th>
                                    <td>32</td>
                                    <td>Banjara Hills</td>
                                    <td>+91 123 456 7890</td>
                                    <td>jhone@gmail.com</td>
                                    <td><a href="#" class="edit-btn">Edit</a>|<a href="#" class="delete-btn">Delete</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
                

                <!-- MAIN CONTENT AREA ENDS -->
            </div>
        </section>
        
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

    <!-- CORE JS FRAMEWORK - START -->
    <script src="../assets1/js/jquery.min.js"></script>
    <script src="../assets1/js/jquery.easing.min.js"></script>
    <script src="../assets1/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets1/plugins/pace/pace.min.js"></script>
    <script src="../assets1/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../assets1/plugins/viewport/viewportchecker.js"></script>
    <script>
        window.jQuery || document.write('<script src="../assets1/js/jquery.min.js"><\/script>');
    </script>
    <!-- CORE JS FRAMEWORK - END -->

    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->
    <script src="../assets1/js/navbar.js"></script>
    <!-- CORE TEMPLATE JS - START -->
    <script src="../assets1/js/scripts.js"></script>
    <!-- END CORE TEMPLATE JS - END -->

</body>


<!-- Mirrored from medical-dash.netlify.app/html/ui-labels-badges.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 05 Apr 2022 09:29:23 GMT -->
</html>