<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="keywords"
        content=" Uncompromising treatment with advanced accurate equipments and 24×7 pharma facilities only at Sree Manju Hospital, the best Hospital in Kukatpally ,Orthopedics,Gynaecology,Paediatrics & Neonatology,General Medicine,Radiology
hospital,hospital near me,orthopedic hospital near me,hospitals in kukatpally,kukatpally hospital list,kphb hospitals,best multispeciality hospital" />
    <meta name="description"
        content="Uncompromising treatment with advanced accurate equipments and 24×7 pharma facilities only at Sree Manju Hospital, the best Hospital in Kukatpally " />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kaizen</title>
    <link rel="canonical" href="https://kaizenoncology.com/" />
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <script src="js/jquery-2.1.1.min.js"></script>
</head>

<body>
    <header>
        <div class="container flex">
            <div id="logo">
                <a href="index"><img src="assets/images/logo.svg" alt=""></a>
            </div>
            <nav>
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="team.html">Our Team</a></li>
                    <li><a href="aboutcancer.html">About Cancer</a></li>
                    <li><a href="blogs">Blog</a></li>
                    <li><a href="contact" class="active">Contact Us</a></li>
                </ul>
            <div class="mobileMenuAddress">
                    <h3>Our Locations</h3>
                    <div class="mobileLocations">
                        <h4>Care Hospitals - Hi-tech City </h4>
                        <p>1-4-908/7/1, Musheerabad Main Rd, near Raja Deluxe Theatre, Musheerabad, Bakaram, Kavadiguda,
                            Hyderabad, Telangana 500020</p>
                        <h4>Care Hospitals - Banjara Hills</h4>
                        <p>Rd Number 1, Prem Nagar,<br> Banjara Hills, Hyderabad, Telangana 500034</p>
                        <h4>Care Hospitals - Nampally</h4>
                        <p>Exhibition Grounds, Road, Nampally, Hyderabad, Telangana 500001</p>
                        <h4>Mahavir Hospitals - Masab Tank</h4>
                        <p class="mb-0">10-1-1, Utkoor - Mogdumpur Rd, AC Guards, Lakdikapul, Hyderabad, Telangana 500004</p>
                    </div>
                </div>
            </nav>
            <div class="nav-icon"><span></span><span></span><span></span></div>
            <div class="overlay"></div>
        </div>
    </header>

    <div class="banner">
        <div class="bannerSlider doctorsBanner">
            <div class="bannerImage" style="background-image: url('assets/images/contactus.jpg');">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="contactMain space40">
            <div class="contactBlock">
                <form class="contactForm"  action="/submitcontact" method="post">
                    <h2>Get in touch</h2>
                    <h6>Our team would love to hear from you</h6>
                    <ul>
                        <li>
                            <div>
                                <h5>First Name :</h5>
                                <input type="text" placeholder="First Name" name="firstname">
                            </div>
                            <div>
                                <h5>Last Name :</h5>
                                <input type="text" placeholder="Last Name" name="lastname">
                            </div>
                        </li>
                        <li>
                            <h5>Email Id :</h5>
                            <input type="text" placeholder="Email Id" name="email">
                        </li>
                        <li>
                            <h5>Phone Number :</h5>
                            <input type="number" placeholder="Phone Number" name="phonenumber">
                        </li>
                        <li>
                            <h5>Message :</h5>
                            <textarea cols="14" rows="6"
                                placeholder="Enquiry/Complaint/Feedback" name="message"></textarea>
                        </li>
                    </ul>
                    <button class="button">Submit</button>
                </form>
                <div class="contactRight"><img src="assets/images/formImage.svg" alt=""></div>
            </div>
            <div class="locationSection">
                <span id="locationSection" class="targetSection"></span>
                <div class="locationItem">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d60912.52545076965!2d78.41488255392426!3d17.41021154285316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sOld%20Mumbai%20Hwy%2C%20near%20Cyberabad%20Police%20Commissionerate%2C%20Jayabheri%20Pine%20Valley%2C%20HITEC%20City%2C%20Hyderabad%2C%20Telangana%20500032!5e0!3m2!1sen!2sin!4v1648903593509!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <h3>Care Hospitals - Hi-tech City</h3>
                    <ul>
                        <li>
                            <img src="assets/images/location.svg" alt="">
                            <p>1-4-908/7/1, Musheerabad Main Rd, near Raja Deluxe Theatre, Musheerabad, Bakaram,
                                Kavadiguda, Hyderabad, Telangana 500020</p>
                        </li>
                        <li>
                            <img src="assets/images/phone-black.svg" alt="">
                            <p><a href="tell:9154143858">+91 915 414 3858/59/ 60</a></p>
                        </li>
                        <li>
                            <img src="assets/images/message.svg" alt="">
                            <p><a href="mailto:support@kaizenoncology.com">support@kaizenoncology.com</a></p>
                        </li>
                    </ul>
                </div>
                <div class="locationItem">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.034589537062!2d78.44780455082238!3d17.410127606671992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb973788af0d2f%3A0xc0757e3afd2f5fb9!2sRd%20Number%201%2C%20Prem%20Nagar%2C%20Banjara%20Hills%2C%20Hyderabad%2C%20Telangana!5e0!3m2!1sen!2sin!4v1648903535906!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <h3>Care Hospitals - Banjara Hills</h3>
                    <ul>
                        <li>
                            <img src="assets/images/location.svg" alt="">
                            <p>Road Number 1, Prem Nagar, Banjara Hills, Hyderabad, Telangana 500034</p>
                        </li>
                        <li>
                            <img src="assets/images/phone-black.svg" alt="">
                            <p><a href="tell:9154143858">+91 915 414 3858/59/ 60</a></p>
                        </li>
                        <li>
                            <img src="assets/images/message.svg" alt="">
                            <p><a href="mailto:support@kaizenoncology.com">support@kaizenoncology.com</a></p>
                        </li>
                    </ul>
                </div>
                <div class="locationItem">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d60912.472881752656!2d78.41471086092304!3d17.410369231392995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sExhibition%20Grounds%2C%20Road%2C%20Nampally%2C%20Hyderabad%2C%20Telangana%20500001!5e0!3m2!1sen!2sin!4v1648903629082!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <h3>Care Hospitals - Nampally</h3>
                    <ul>
                        <li>
                            <img src="assets/images/location.svg" alt="">
                            <p>Exhibition Grounds, Road, Nampally, Hyderabad, Telangana 500001</p>
                        </li>
                        <li>
                            <img src="assets/images/phone-black.svg" alt="">
                            <p><a href="tell:9154143858">+91 915 414 3858/59/ 60</a></p>
                        </li>
                        <li>
                            <img src="assets/images/message.svg" alt="">
                            <p><a href="mailto:support@kaizenoncology.com">support@kaizenoncology.com</a></p>
                        </li>
                    </ul>
                </div>

                <div class="locationItem">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.9232567655167!2d78.4956407508225!3d17.41547020651887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb998d215508fd%3A0xcb0cc9cf6025d772!2sGuru%20Nanak-%20CARE%20Hospitals%20-%20Musheerabad%2C%20HYD!5e0!3m2!1sen!2sin!4v1648902716939!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <h3>Mahavir Hospitals - Masab Tank</h3>
                    <ul>
                        <li>
                            <img src="assets/images/location.svg" alt="">
                            <p>10-1-1, Utkoor - Mogdumpur Rd, AC Guards, Lakdikapul, Hyderabad, Telangana 500004</p>
                        </li>
                        <li>
                            <img src="assets/images/phone-black.svg" alt="">
                            <p><a href="tell:9154143858">+91 915 414 3858/59/ 60</a></p>
                        </li>
                        <li>
                            <img src="assets/images/message.svg" alt="">
                            <p><a href="mailto:support@kaizenoncology.com">support@kaizenoncology.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="extralink">
        <ul>
            <li><a href="appointment"><span><img src="assets/images/phone-white.svg" alt=""></span><small>Book An
                        &nbsp;</small> Appointment</a></li>
            <li><a href="javascript:void(0)"><span><img src="assets/images/whatsappIcon2.svg" alt=""></span>Enquiry Now</a>
            </li>
            <li><a href="team.html"><span><img src="assets/images/findDoctor.svg" alt=""></span>Find a Doctor</a></li>
            <li><a href="contact#locationSection"><span><img src="assets/images/locationIcon2.svg" alt=""></span>Location</a>
            </li>
        </ul>
    </div>

    <footer class="space40">
        <div class="container">
            <div class="footerLogo"><a href="index"><img src="assets/images/logo.svg" alt=""></a></div>
            <div class="footerRight">
                <div class="footerlinks">
                    <h4>COMPANY</h4>
                    <ul>
                        <li><a href="index">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="team.html">Our Team</a></li>
                        <li><a href="aboutcancer.html">About Cancer</a></li>
                        <li><a href="blogs">Blog</a></li>
                        <li><a href="contact">Contacts Us</a></li>
                    </ul>
                </div>
                <div class="footerlinks">
                    <h4>CONTACT</h4>
                    <ul>
                        <li><a href="mailto:kaizen@gmali.com">kaizen@gmali.com</a></li>
                        <li><a href="tel:841123456">+841 123 456</a></li>
                    </ul>
                </div>
                <div class="footerlinks addressBlock">
                    <h4>ADDRESS</h4>
                    <p>Hi-tech City | Banjara Hills | Nampally | Masab Tank</p>
                    <div class="socialMedia">
                        <label class="socialLabel">Follow Us :</label>
                        <ul>
                            <li><a target="_blank" href="https://www.youtube.com/channel/UCo_QHdCV1JFp_vQPYLMqY2A"><img
                                        src="assets/images/youtubeIcon.svg" alt=""></a></li>
                            <li><a target="_blank"
                                    href="https://www.facebook.com/kaizenoncologynetwork/?ref=pages_you_manage"><img
                                        src="assets/images/facebookIcon.svg" alt=""></a></li>
                            <li><a target="_blank" href="https://twitter.com/KaizenOncology"><img
                                        src="assets/images/twitterIcon.svg" alt=""></a></li>
                            <li><a target="_blank"
                                    href="https://www.linkedin.com/company/kaizen-oncology/?viewAsMember=true"><img
                                        src="assets/images/linkedinIcon.svg" alt=""></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/kaizenoncologynetwork/"><img
                                        src="assets/images/instgaramIcon.svg" alt=""></a></li>
                            <li><a target="_blank" href="https://blog.kaizenoncology.com/"><img
                                        src="assets/images/blogIcon.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyRights">
        <p>Copyright <span>©</span> <span id="yearUpdate">2022</span> kaizen rights reserved.</p>
    </div>
    <a href="javascript:void(0)" class="back-to-top" onclick="$('html,body').animate({scrollTop:0},500);"> </a>
    <span class="extraMobileSpace"></span>
    
    <script src="js/global.js"></script>

    <script>
        //======== banner Slider
    </script>
</body>

</html>