<div class="flash-container"> 
    <% if(success && success.length>0) { %>
        <div id="flash-msg" class="flash-msg success-msg">
            <i class="fa fa-check-circle msg-icon"></i>
            <div class="msg-content success-content">
                <h5>Success</h5>
                <p>
                    <%= success %>
                </p>
            </div>
            <i id="hide-flash" class="fa fa-times hide-msg-icon"></i>
        </div>
        <% } %>
            <% if(error && error.length>0) { %>
                <div id="flash-msg" class="flash-msg failure-msg">
                    <i class="fa fa-times-circle msg-icon" aria-hidden="true"></i>
                    <div class="msg-content failure-content">
                        <h5>Failure</h5>
                        <p>
                            <%= error %>
                        </p>
                    </div>
                    <i id="hide-flash" class="fa fa-times hide-msg-icon"></i>
                </div>
                <% } %>
</div>


<script>
    const error = document.querySelector('.flash-container');
    const cross = document.querySelector('.hide-msg-icon');
    const hideError = () => {
        error.style.display = 'none';

    }

    if (error) {
        setTimeout(() => {
            error.style.display = 'none';
        }, 5000);
    }

    cross?.addEventListener('click', hideError);
    </script>